*{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(234, 236, 236);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(106, 106, 106);
  outline: 1px solid slategrey;
}

.navbar{
  background-color: black;
  width: 100%;
  height: 7vh;
  display: flex;
  position: fixed;
  top: 0;
  font-family: 'BebasNeue';
  color: rgb(205, 205, 205);
  overflow: hidden;
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

}
.escrita{

}
.nav1{
  width: 33%;
  height: 72%;
  margin: 0;
  text-align: center;
  padding-top: 2vh;
}

.nav1:hover{
  background-color: rgb(62, 62, 62);
}

.nav2:hover{
  background-color: rgb(62, 62, 62);
}

.nav3:hover{
  background-color: rgb(62, 62, 62);
}

.nav2{
  width: 33%;
  height: 72%;
  padding-top: 2vh;
  margin: 0;
  text-align: center;

}
span{
  font-family: 'SF';
  font-size:
}
.nav3{
  width: 34%;
  height: 72%;
  margin: 0;
  padding-top: 2vh;
  text-align: center;

}

.posicaoTexto1{
  height: 50%;
  width: 90%;
  position: static;
  margin-top: 7.5%;
  margin-left: 5%;
  border-top: rgba(167, 168, 168, 0.69) solid 1px;
  padding-top: 1vh;
}

.posicaoTexto span{
  margin-top: 1vh;
}

@font-face{
  font-family: 'SF';
  src: url('../font/SF.otf');
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../font/BebasNeue-Regular.ttf');
}

.container{
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;

  background-color: white;
}

.texto{
  position: static;
  background-color: rgb(222, 222, 222);
  width: 95%;
  height: 50vh;
  margin-top: 10vh;
  margin-left: 5vh;
}

.imagem{
  height: 100%;
  width: 40%;
  background-color: grey;
  position: static;
  margin-left: 0;
}

.escrita{
  position: static;
  width: 55.5%;
  height: 80%;
  margin-left: 42.7%;
  margin-top: -26.6%;
  text-align: center;
  font-family: 'BebasNeue';
  padding-top: 10vh;
}

.faixa1{
  position: static;
  background-color: rgb(222, 222, 222);
  width: 95%;
  height: 50vh;
  margin-top: 1vh;
  margin-left: 5vh;
  padding-top: 2vh;
}

.conteudo1{
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-top: 1.5vh;
  margin-left: 5vh;
  padding-top: 1%;
  text-align:center;
  font-family: 'BebasNeue';

}

.conteudo5{
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-top: 1.5vh;
  margin-left: 5vh;
  padding-top: 1%;
  text-align:center;
  font-family: 'BebasNeue';

}

.texto11{
  height: 79%;
  width: 100%;
  margin-top: -30%;
}

.posicaoTexto2{
  height: 50%;
  width: 90%;
  position: static;
  margin-top: 7.5%;
  margin-left: 5%;
  border-top: rgba(167, 168, 168, 0.69) solid 1px;
  padding-top: 1vh;
}

.conteudo2{
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-left: 98vh;
  margin-top: -47vh;
  padding-top: 1%;
  text-align:center;
  font-family: 'BebasNeue';


}

.conteudo6{
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-left: 98vh;
  margin-top: -47vh;
  padding-top: 1%;
  text-align:center;
  font-family: 'BebasNeue';


}

.faixa1 img, .faixa2 img{
  position: static;
  width: 100%;
  border-radius: 50%;
}

.faixa2{
  position: static;
  background-color: rgb(222, 222, 222);
  width: 95%;
  height: 50vh;
  margin-top: 0vh;
  margin-left: 5vh;
  padding-top: 2vh;
}

.conteudo3{
  padding-top: 1%;
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-top: 1.5vh;
  margin-left: 50vh;
  text-align:center;
  font-family: 'BebasNeue';

}

.conteudo7{
  padding-top: 1%;
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-top: 1.5vh;
  margin-left: 50vh;
  text-align:center;
  font-family: 'BebasNeue';

}

.conteudo4{
  position: static;
  width: 45%;
  height: 90%;
  background: rgba(255, 255, 255, 1);
  margin-left: 98vh;
  margin-top: -47vh;
  padding-top: 1%;
  text-align:center;
  font-family: 'BebasNeue';
}
.posicaoTexto3{
  height: 50%;
  width: 90%;
  position: static;
  margin-top: 7.5%;
  margin-left: 5%;
  border-top: rgba(167, 168, 168, 0.69) solid 1px;
  padding-top: 1vh;
}

.posicaoImg1{
   width: 20%;
   height: 30%;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
   position: static;
   margin-left: 40%;
   margin-top: 3%;
   margin-bottom: 2%;
   border: black solid 1px;
}

.posicaoImg2{
  width: 20%;
  height: 30%;
  background-color: #000;
  color: #FFF;
  border-radius: 50%;
  position: static;
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 2%;
  border: black solid 1px;
}

.posicaoImg3{
  width: 20%;
  height: 30%;
  background-color: #000;
  color: #FFF;
  border-radius: 50%;
  position: static;
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 2%;
  border: black solid 1px;
}

.conteudo3:hover{
  transform: scale(1.03);
}

.conteudo2:hover{
  transform: scale(1.03);
}

.conteudo1:hover{
  transform: scale(1.03);
}
